body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    background-color: #E11525;
}
.pink {
	background-color: #DAA5B5;
	height: 50vh;
	width: 70vw;
}
.black {
	background-color: #676169;
	height: 20vh;
	width: 40vw;
}
.container {
	height: 50vh;
	width: 100vw;
}

